//Colors

$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

// Fonts
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Size
$xx-large: 70px;
$x-large: 30px;
$small: 12px;

//font weight
$font-regular: 400;
$font-black: 900;

// bordes redondeados
$roundedborder: 30px;

